/*font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans Thai Looped', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --c-1: #143427;
    --c-2: #2a5343;
    --c-3: rgba(35, 82, 62, 0.80);
    --c-4: #49765F;
    --gold-1:#A88E55;
    --l-1: rgba(73, 118, 95, 0.28);

}
:root{
    --t-1: 30px;
}
body{
    padding: 5px;
    background: var(--c-1);
}
body::-webkit-scrollbar{
    display: none;
}
.frame{
    background: rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    background: var(--c-2);
    padding: 10px;
    display: flex;
    height: 122px;
    width: auto;
    border: 3px solid var(--gold-1);
    align-items: center;
    gap: 60px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.navigation{
    border: 5px solid var(--c-4);
    background: var(--c-2);
    padding: 0 90px 0 70px;
    width: 1148px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 4px 5px 0px #143427;
    border-radius: 50px;
}
.navigation a{
    text-decoration: none;
    color: var();
    font-size: var(--t-1);
    background: linear-gradient(180deg, #A88E55 0%, #BDA368 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maincontent{
    display: flex;
}
.maincontent .contact{
    width: 150px;
    height: 995px;
    background: var(--c-4);
    border: 3px solid var(--gold-1);
}
.maincontent .middle{
    width: 1208px;
    height: 995px;
    background: var(--c-1);
    border: 3px solid var(--gold-1);
}
.maincontent .sidebar{
    height: 995px;
    width: 370px;
    background: var(--c-2);
    border: 3px solid var(--gold-1);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact a{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #A88E55;
    box-shadow: 5px 5px 5px 0px #BDA368 inset;
    font-size: 45px;
    margin-top: 55px;
    padding: 12px;
    text-decoration: none;
    color: var(--c-2);
    box-shadow: 5px 5px 5px 0px #BDA368 inset;
    filter: drop-shadow(3px 4px 5px #143427);
}
